# directories for temporary storage / user customisation
scripts/
temp/
plots/
UQ_output/
srcmods*
run_logs_archive/
pklfiles/
runscripts/archive
runscripts/multisite
runscripts/MCMC_only.sh
runscripts/run_TAM1.py

# files created by OLMT executions
run.*
*.pyc
*.run.o*
slurm-*.out
mcsamples*.txt
create_newcase.log

# user defined files

.DS_STORE
